<h2>{{title}}</h2>
<p style="margin-top:20px;">Click on "Continue" to experience the new enhanced BillPay.</p>
<ul class="list-unstyled">
    <li>Electricity Bills</li>
    <li>Telephone/Mobile Bills</li>
    <li>Prepared DTH Bills</li>
    <li>Gas Bills</li>
    <li>Mutual Funds</li>
</ul>
<p>Please note your BillPay session will open in a new window while your NetBanking session here continues to remain active . Kindly ensure to also log out from your active NetBanking session here once you have exited the new enhanced BillPay module.</p>
<p>Click on "Continue" to experience the new enhanced BillPay.</p>